<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Aug 06 2014 04:56:19 GMT+0000 (UTC) -->
<html data-wf-site="53dc073baa4e079a18f222bf">
<head>
  <meta charset="utf-8">
  <title>GoProphet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/features/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/features/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/features/goprophet.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
  <script type="text/javascript" src="js/features/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="assets/features/favicon.ico">
  <link rel="apple-touch-icon" href="assets/features/Webclip-green.jpg">
</head>
<body>
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-ix="show-navbar-on-load">
    <div class="w-container navbar-container"><a href="/markethome"><img src="/img/GoProphetLogo8.jpg" alt="GoProphet Logo" width="200" height="42"></a>
      <nav class="w-nav-menu nav-link-container" role="navigation"><a class="w-nav-link nav-link" href="#top">About</a><a class="w-nav-link nav-link" href="#process">Our Process</a><a class="w-nav-link nav-link" href="#features">How it works</a><a class="w-nav-link nav-link" href="#work">Our Users</a><a class="w-nav-link nav-link"
        href="#more">More info</a><a class="w-nav-link nav-link" href="/{{link}}">{{display}}</a>
      </nav>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu menu-icon"></div>
      </div>
    </div>
  </div>
  <div class="header" id="top">
    <div class="w-container">
      <div class="w-tabs header-tabs" data-duration-in="500" data-duration-out="500">
        <div class="w-tab-content">
          <div class="w-tab-pane w--tab-active header-tab-pane" data-w-tab="Tab 1">
            <h2 class="header-title" data-ix="fade-title-on-load">No commitment. Pick an athlete and start playing in real time!</h2>
          </div>
          <div class="w-tab-pane header-tab-pane" data-w-tab="Tab 2">
            <h2 class="header-title" data-ix="fade-title-on-load">An interactive game with a clean and responsive interface</h2>
          </div>
          <div class="w-tab-pane header-tab-pane" data-w-tab="Tab 3">
            <h2 class="header-title" data-ix="fade-title-on-load">Crowdsourced data and detailed graphs to help you make informed decisions</h2>
          </div>
        </div>
        <div class="w-tab-menu header-tab-menu">
          <a class="w-tab-link w--current w-inline-block header-tab-button" data-w-tab="Tab 1">
            <div>revolutionary</div>
          </a>
          <a class="w-tab-link w-inline-block header-tab-button" data-w-tab="Tab 2">
            <div>intuitive</div>
          </a>
          <a class="w-tab-link w-inline-block header-tab-button" data-w-tab="Tab 3">
            <div>Informative</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <div class="section-title-block" data-ix="fade-in-on-scroll">
        <h2 class="section-title"><strong>GoProphet</strong>&nbsp;is changing the way you play fantasy sports</h2>
      </div>
      <div class="w-row intro-row">
        <div class="w-col w-col-4 overall-column">
          <img class="intro-icon" src="assets/features/Icon-chemic.png" alt="53a344e68dd8c2930d5b719e_Icon-chemic.png">
          <h4>What’s Important?</h4>
          <p>We want to bring a fantasy sports experience which everyone can enjoy, with no commitment necessary.</p>
        </div>
        <div class="w-col w-col-4 w-clearfix overall-column">
          <img class="intro-icon" src="assets/features/Icon-heart.png" alt="53a345238dd8c2930d5b71a2_Icon-heart.png">
          <h4>What we love</h4>
          <p>A straightforward and easy to use interface with interesting gameplay backed by statistics.</p>
        </div>
        <div class="w-col w-col-4 w-clearfix overall-column">
          <img class="intro-icon" src="assets/features/Icon-unlike.png" alt="53a345358dd8c2930d5b71ad_Icon-unlike.png">
          <h4>What we don't</h4>
          <p>Complicated website designs with a high barrier to entry, as well as season long commitments.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="process color-stripe" id="process">
    <div class="w-container">
      <div class="w-row process-row">
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 process-column" data-ix="process-1">
          <div class="process-number">
            <h3 class="process-title number">1</h3>
          </div>
          <h3 class="process-title"><strong>Pick a Player</strong></h3>
        </div>
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 w-clearfix process-column" data-ix="process-2">
          <img class="process-arrow-image" src="assets/features/Icon-Arrow-Right.png" alt="5396af50e143afa8596e34d1_Icon-Arrow-Right.png">
          <div class="process-number">
            <h3 class="process-title number">2</h3>
          </div>
          <h3 class="process-title"><strong>Look at the Market</strong></h3>
        </div>
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 w-clearfix process-column" data-ix="process-3">
          <img class="process-arrow-image" src="assets/features/Icon-Arrow-Right.png" alt="5396af50e143afa8596e34d1_Icon-Arrow-Right.png">
          <div class="process-number">
            <h3 class="process-title number">3</h3>
          </div>
          <h3 class="process-title">Take a Bet</h3>
        </div>
      </div>
      <div class="w-row process-row last">
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 process-column" data-ix="process-4">
          <div class="process-number">
            <h3 class="process-title number">3*</h3>
          </div>
          <h3 class="process-title">Create Your Own Bet</h3>
        </div>
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 w-clearfix process-column" data-ix="process-5">
          <img class="process-arrow-image" src="assets/features/Icon-Arrow-Right.png" alt="5396af50e143afa8596e34d1_Icon-Arrow-Right.png">
          <div class="process-number">
            <h3 class="process-title number">4</h3>
          </div>
          <h3 class="process-title"><strong>Keep Track of Bets</strong></h3>
        </div>
        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 w-clearfix process-column" data-ix="process-6">
          <img class="process-arrow-image" src="assets/features/Icon-Arrow-Right.png" alt="5396af50e143afa8596e34d1_Icon-Arrow-Right.png">
          <div class="process-number orange">
            <h3 class="process-title number">5</h3>
          </div>
          <h3 class="process-title"><strong>Profit!</strong></h3>
        </div>
      </div>
    </div>
  </div>
  <div id="features">
    <div class="takebetsection">
      <div class="w-container takebethead">
        <h1>Taking A Bet</h1>
        <div>
          <img class="takingbetbody" src="assets/features/TakeBetExample1.jpg" alt="53dc0e3c1458dbed708422ac_TakeBetExample1.jpg">
        </div>
      </div>
    </div>
    <div class="createbetsection">
      <div class="w-container creatingbet">
        <h1>Creating A Bet</h1>
        <img class="createbetbody" src="assets/features/createBetEx.jpg" alt="53dc1539c589e6281b7107a3_createBetEx.jpg">
      </div>
    </div>
    <div class="page-content tint" id="work">
      <div class="w-container">
        <div class="section-title-block" data-ix="fade-in-on-scroll">
          <h2 class="section-title"><strong>Bringing a Better Experience<br></strong>We cater to all kinds of sports fans</h2>
        </div>
        <div class="w-row work-row">
          <div class="w-col w-col-4 w-col-small-4 work-column"><a class="w-inline-block work-block"><h3 class="work-title top-title">casual&nbsp;Sports Fans</h3><h3 class="work-title" data-ix="close-footer">Start Playing Immediately</h3><img class="casualfantasy" src="assets/features/casualFantasy3.jpg" alt="53e1a72bc9ce004b0495fc4e_casualFantasy3.jpg"></a>
          </div>
          <div class="w-col w-col-4 w-col-small-4 work-column"><a class="w-inline-block work-block"><h3 class="work-title top-title">Fantasy SPorts Fans</h3><h3 class="work-title">A New Fantasy Experience</h3><img class="profantasy" src="assets/features/proFantasy.jpg" alt="53e1a7c12e905e4a0425f0c8_proFantasy.jpg"></a>
          </div>
          <div class="w-col w-col-4 w-col-small-4 work-column"><a class="w-inline-block work-block"><h3 class="work-title top-title">Analysts and Risk&nbsp;Takers</h3><h3 class="work-title">Taking the Game to the Next Level</h3><img class="risktakerfantasy" src="assets/features/RiskTakerFantasy.jpg" alt="53e199b9e62dd0272abc8fed_RiskTakerFantasy.jpg"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="color-stripe">
      <h2 class="white-section-title">Start Winning Today!</h2>
      <div class="w-container">
        <h2 class="_2">It only takes 10 seconds to sign up and start playing!</h2>
      </div>
    </div>
  </div>
  <div class="page-content tint" id="more">
    <div class="w-container">
      <div class="w-row fun-facts-row">
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6 fun-fact-column" data-ix="fade-from-left">
          <img class="fun-fact-icon" src="assets/features/Icon-mouse.png" alt="53a1f94985ed6dea28bed8e5_Icon-mouse.png">
          <h4 class="fun-fact-title">august ‘14</h4>
          <div class="dividder-line"></div>
          <h4 class="fun-fact-title _2">Site released on</h4>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6 fun-fact-column" data-ix="fade-from-left-2">
          <img class="fun-fact-icon" src="assets/features/Icon-team.png" alt="53a1f95351e756e8281a653e_Icon-team.png">
          <h4 class="fun-fact-title">&gt;2000</h4>
          <div class="dividder-line"></div>
          <h4 class="fun-fact-title _2">athletes available</h4>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6 fun-fact-column" data-ix="fade-from-left-3">
          <img class="fun-fact-icon" src="assets/features/Icon-lamp.png" alt="53a1f95a85ed6dea28bed8e7_Icon-lamp.png">
          <h4 class="fun-fact-title">4</h4>
          <div class="dividder-line"></div>
          <h4 class="fun-fact-title _2">methods of data analysis</h4>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6 fun-fact-column" data-ix="fade-from-left-4">
          <img class="fun-fact-icon" src="assets/features/Icon-cup.png" alt="53a1f96064a4f9aa1001defe_Icon-cup.png">
          <h4 class="fun-fact-title">50%</h4>
          <div class="dividder-line"></div>
          <h4 class="fun-fact-title _2">Users win everyday</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="small-footer"></div>
  <div class="footer" data-ix="display-none-footer">
    <div class="w-container">
      <a class="w-inline-block close-footer-button" href="#" data-ix="close-footer">
        <img src="assets/features/Icon-Arrow-Down-white.png" alt="5396be0d704e969e42218625_Icon-Arrow-Down-white.png">
      </a>
      <div class="w-row footer-row">
        <div class="w-col w-col-4 w-col-small-4 footer-column">
          <div class="footer-contact-block">
            <h3 class="footer-title">Mail us</h3>
            <p class="all-paragraphs-white">You can reach us by mail at
              <br><a href="#" class="link contact-link">GoProphetTeam@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-small-4 footer-column">
          <div class="footer-contact-block">
            <h3 class="footer-title">Call us</h3>
            <p class="all-paragraphs-white">You can call us on
              <br><a href="#" class="link contact-link">TBD</a>
            </p>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-small-4 footer-column">
          <div class="footer-contact-block">
            <h3 class="footer-title">Visit us</h3>
            <p class="all-paragraphs-white">You can visit us at
              <br><a href="#" class="link contact-link">TBD</a>
            </p>
          </div>
        </div>
      </div>
      <div class="w-form footer-form">
        <form class="w-clearfix" id="wf-form-contact-form" name="wf-form-contact-form" data-name="Contact Form">
          <input class="w-input field one-third" id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" required="required">
          <input class="w-input field one-third" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
          <input class="w-input field one-third last" id="subject" type="text" placeholder="What is it about?" name="subject" data-name="Subject" required="required">
          <textarea class="w-input field area" id="message" placeholder="Enter a message..." name="message" data-name="Message" required="required"></textarea>
          <input class="w-button submit-button" type="submit" value="Submit" data-wait="Please wait...">
        </form>
        <div class="w-form-done success-bg">
          <p class="success-text"><strong>Thank you! </strong>Your submission has been received!</p>
        </div>
        <div class="w-form-fail error-bg">
          <p class="error-text"><strong>Oops</strong>! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="w-container">
        <p class="bottom-footer-text">© GoProphet 2014</p>
      </div>
    </div>
  </div><a class="contact-button" href="#" data-ix="show-footer">Contact</a>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/features/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>