div.pure-g-r.banner
  div.pure-u-3-4.banner-inner
    div.banner-nav
      h4
        a(href='/markethome') Home
      div#divide
        h4
          a(href='/portfolio') Portfolio
      div.pure-hidden-phone
        span
          a.fui-list
      ul.dropdown-menu
        li.dropdown-entry
          a(href='/user') Profile
        li.dropdown-entry
          a(href='/contestB') Contests
        li.dropdown-entry
          a(href='/forums') Forums
        li.dropdown-divider
        li.dropdown-entry
          a(href='/logout') Logout
      div.pure-hidden-desktop.pure-hidden-tablet
        span
          a.fui-list(href='/')
    div.pure-form
      input(id='quicksearch' type="text" name='search' placeholder='Search for Players')
    .button
      i.fa.fa-th.fa-2x
    .app-launcher
      .apps
        ul.first-set
          li
            a(href='#')
              i.fa.fa-google-plus-square.fa-4x
          li
            a(href='#')
              i.fa.fa-facebook-square.fa-4x
          li
            a(href='#')
              i.fa.fa-youtube-square.fa-4x
          li
            a(href='#')
              i.fa.fa-skype.fa-4x
          li
            a(href='#')
              i.fa.fa-windows.fa-4x
          li
            a(href='#')
              i.fa.fa-linkedin.fa-4x
          li
            a(href='#')
              i.fa.fa-apple.fa-4x
          li
            a(href='#')
              i.fa.fa-android.fa-4x

    div.banner-brand
      a(href='/markethome')
        img(src='/img/GoProphetLogo8.jpg')

    link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/js/search.js')
    script(src='/js/banner.js')
    script(src='/js/jquery/jquery-ui-1.10.4.custom.js')
    link(rel='stylesheet' type='text/css' href='/css/pure-min.css')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    link(rel='stylesheet' type = 'text/css' href='/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    script(src='http://isotope.metafizzy.co/beta/isotope.pkgd.js')
    script(src="js/homeIsotope.js")
