doctype html
html(lang='en')
  head
    include base_head
  body
    div.content
      div.bounding-box.rounded
        div.padded
          h3 Login
          hr
          div.pure-g-r
            div.pure-u-11-24
              form#login.pure-form.pure-form-stacked(action='/login' method='post')
                fieldset
                  label(for='username') Username
                  input(type='text' name='username' placeholder='username' autofocus=true required=true)
                fieldset
                  label(for='password') Password
                  input(type='password' name='password' placeholder='password' required=true)
              div.button-align
                input.pure-button.button-primary.left(type='submit' form='login' value='Log in')
                p or
                form
                  input.pure-button.button-primary.right(onClick='parent.location="signup"' value='Sign up here')
