<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Sliders Baby</title>
  
  <script type="text/javascript" src="../public/js/jquery/jquery.min.js"></script><style type="text/css"></style>
  <link rel="stylesheet" type="text/css" href="../public/js/jquery/normalize.css">
  <script type="text/javascript" src="../public/js/jquery/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/slider.css">
  
    
<link rel="stylesheet" type="text/css" href="../public/js/jquery/jquery-ui.css">
    

</head>

<body>

  <button class="btn1">Filter</button>
<p id="filter">
    <label for="amount">Price range:</label>
    <input type="text" id="amount" style="border: 0; color: #299; font-weight: bold;">
</p>

<div id="slider-range"></div>

<p id="filter2">

<br>
    <label for="amount">Fantasy Value:</label>
    <input type="text" id="amount2" style="border: 0; color: #299; font-weight: bold;">
</p>

<div id="slider-range2"></div>
  

<script src="slider.js"></script>

</body>
</html>