<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="banner">
      <div class="placeholder">
        <p> Placeholder </p>
      </div>
    </div>

    <div class="content">
      <div class="entry">

        <div class="entry-header">
          <h1> Info </h1>
        </div>

        <div class="entry-full-form">

          <div class="entry-form-table">
            <table>

              <thead>
                <tr>
                  <th> Athlete </th>
                  <th> Prediction </th>
                  <th> Wager </th>
                  <th> 5 for 5 </th>
                </tr>
              </thead>

              <tbody>
                <form id="entry-form-1" action="/tournamentEntryProcess" method="post">
                  <tr>
                    <td> Bob </td>
                      <td>
                        <input class="entry-form-input" type="number" name="prediction-1" placeholder="Your prediction" required=true min="0" step="0.01"></input>
                      </td>
                      <td>
                        <input class="entry-form-input" type="number" name="wager-1" placeholder="Your wager" required=true min="0"step="1"></input>
                      </td>
                    </fieldset>
                    <td>
                      <button type="button" class="entry-form-button"> 5 for 5 </button>
                    </td>
                  </tr>
                
                  <tr>
                    <td> Joe </td>
                      <td>
                        <input class="entry-form-input" type="number" name="prediction-2" placeholder="Your prediction" required=true min="0" step="0.01"></input>
                      </td>
                      <td>
                        <input class="entry-form-input" type="number" name="wager-2" placeholder="Your wager" required=true min="0"step="1"></input>
                      </td>
                    <td>
                      <button type="button" class="entry-form-button"> 5 for 5 </button>
                    </td>
                  </tr>
                </form>
              </tbody>

            </table>
          </div>

          <div class="entry-form-info">
            <div class="entry-form-money">
              <p> Money Remaining: 10000 <p>
            </div>
          </div>

        </div>

        <div class="entry-footer">
          <div class="entry-submission">
            <button class="entry-footer-button" form="entry-form-1" type="submit" value="Submit"> Submit </button>
          </td>
        </div>
        
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-ui-1.10.4.custom.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/tournamentEntry.css" rel="stylesheet">

  </body>
</html>
