<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>
    <table id="tournaments" align="center" style="width:1000px">
      <thead>
        <tr>
          <th>Sport</th>
          <th>Event/Game Type</th>
          <th>Start Time (ET)</th>
          <th>Entrants</th>
          <th>Entry Fee</th>
          <th>Prize Pool</th>
          <th>Game Type</th>
          <th>Enter</th>
        </tr>
      </thead>

      <tr>
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr class="alt">
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr>
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr class="alt">
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr>
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr class="alt">
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr>
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr class="alt">
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr>
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tr class="alt">
        <td>Baseball</td>
        <td>Game Type B</td>
        <td>5:59</td>
        <td>5/30</td>
        <td>60.00</td>
        <td>50,000</td>
        <td>Game Type B</td>
        <td><button class="editbtn">Enter</button></td>
      </tr>

      <tfoot>
        <tr>
          <th>Sport</th>
          <th>Event/Game Type</th>
          <th>Start Time (ET)</th>
          <th>Entrants</th>
          <th>Entry Fee</th>
          <th>Prize Pool</th>
          <th>Game Type</th>
          <th>Enter</th>
        </tr>
      </tfoot>
    </table>

    <div class="tournament-dialog-box-backdrop">
    </div>

    <div class="tournament-dialog-box">
      <div class="tournament-dialog-box-header">
        <p> Tournament Info </p>
      </div>
      <div class="tournament-dialog-box-body">
        <div class="tournament-dialog-box-info">
          <p> Stuff </p>
        </div>
        <div class="tournament-dialog-box-tab-container">
          <ul class="tournament-dialog-box-tab-menu">
            <li class="tournament-dialog-box-tab active" id="tab1">Tab 1</li>
            <li class="tournament-dialog-box-tab" id="tab2">Tab 2</li>
            <li class="tournament-dialog-box-tab" id="tab3">Tab 3</li>
          </ul>
          <div class="tournament-dialog-box-tab-content-top-border">
          </div>
          <div class="tournament-dialog-box-tab-content active" id="tab1-content">
            <p> One </p>
          </div>
          <div class="tournament-dialog-box-tab-content" id="tab2-content">
            <p> Two </p>
          </div>
          <div class="tournament-dialog-box-tab-content" id="tab3-content">
            <p> Three </p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link  rel="stylesheet" type="text/css" href="../css/bootstrap/tournamenttables.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src='../js/jquery-ui-1.10.4.custom.js'></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/dataTables.css">
    <script src="../js/tournamentBetTableFilter.js"></script>
    <script src="../js/tournamentTables.js"></script>
  </body>
</html>
