<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

<table id="tournaments" align="center" style="width:1000px">
<thead>
  <tr>
    <th>Sport</th>
    <th>Event/Game Type</th>
    <th>Start Time (ET)</th>
    <th>Entrants</th>
    <th>Entry Fee</th>
    <th>Prize Pool</th>
    <th>Game Type</th>
    <th>Enter</th>
  </tr>
</thead>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>
</table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link  rel="stylesheet" type="text/css" href="../css/bootstrap/tournamenttables.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../js/tournamentBetTableFilter.js"></script>
    <script src='../js/jquery-ui-1.10.4.custom.js'></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/dataTables.css">
  </body>
</html>
