<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carousel Template for Bootstrap</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">GoProphet</h3>
        <ul class="nav masthead-nav">
          <li class="active"><a href="#">About</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/features#">Features</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/logout" >Logout </a></li>
      </div>
    </div>






    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2 align="center" class="featurette-heading">Frequently Asked Questions</span></h2>
        </div> 
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Are there any restrictions for playing?</span></h2>
          <p class="lead">You must be at least 18 years old to play using real money. However, everyone is eligible to play the virtual currency model of our games, as long as they follow the GoProphet rules.</p>
        </div> 
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Can I make bets during the actual game?</span></h2>
          <p class="lead">Yes you can! One of our selling points is that users can make bets during the actual game, thus causing more excitement and more incentive to both play GoProphet and watch the NFL.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">What game modes are currently available?</span></h2>
          <p class="lead">We currently have two game modes on GoProphet, NFL market and Game Mode B. Both games can be played in real time, and offer crowdsourced statistics that can be viewed by any user, free of charge.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">How are winnings calculated? </span></h2>
          <p class="lead" >Please see our <a href="Rules.html#" style="color: #52527A">Rules</a> page for more information on how games work. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Contact Us</span></h2>
          <p class="lead" >To contact a GoProphet member, please email GoProphetTeam@gmail.com and we will get back to you quickly.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Privacy</a> &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <!-- Custom styles for this template -->
    <link href="css/bootstrap/faq.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
