<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<style>


#tournaments {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#tournaments td, #tournaments th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#tournaments th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #B7C942;
    color: #ffffff;
}

#tournaments tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

</style>

</head>

<body>

<table id="tournaments" align="center" style="width:1000px">
<tr>
  <th>Sport</th>
  <th>Event/Game Type</th>		
  <th>Start Time (ET)</th>
  <th>Entrants</th>
  <th>Entry Fee</th>
  <th>Prize Pool</th>
  <th>Game Type</th>
  <th>Enter</th>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr>
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>

<tr class="alt">
  <td>Baseball</td>
  <td>Game Type B</td>		
  <td>5:59</td>
  <td>5/30</td>
  <td>60.00</td>
  <td>50,000</td>
  <td>Game Type B</td>
  <td><button class="editbtn">Enter</button></td>
</tr>
</table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/tournamenttables.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
