<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Contest A Portfolio</title>

    <!-- Custom styles for this template -->
    <link href="/css/contestA/portfolio.css" rel="stylesheet">
  </head>

  <body>
    <div class="banner">
      <div class="placeholder">
        <p> Placeholder </p>
      </div>
    </div>


    <div class="content">
      <div class="portfolio">
        <div class="portfolio-info">
          <div id="graph-container" class="portfolio-graph-container">
          </div>
          <div class="portfolio-profile">
          </div>
        </div>
        <div class="portfolio-tab-container">
          <ul class="portfolio-tab-menu">
            <li id='portfolio-tab-1' class='portfolio-tab'>
              Pending
            </li>
            <li id='portfolio-tab-2' class='portfolio-tab'>
              Taken
            </li>
            <!-- <li id='portfolio-tab-3' class='portfolio-tab'>
              Resell
            </li> -->
          </ul>
          <div class='portfolio-tab-border'>
          </div>
          <div id='portfolio-tab-1-content' class='portfolio-tab-content active'>
            <div class='isotope-pending'></div>
          </div>
          <div id='portfolio-tab-2-content' class='portfolio-tab-content'>
            <div class='isotope-taken'></div>
          </div>
          <!-- <div id='portfolio-tab-3-content' class='portfolio-tab-content'>
            Stuff
          </div> -->
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/contestAPortfolio/portfolio.js"></script>
  </body>
</html>