<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Contest A Portfolio</title>

    <!-- Custom styles for this template -->
    <link href="/css/contestA/portfolio.css" rel="stylesheet">
  </head>

  <body>
    <div class="pure-g-r banner">
      <div class="pure-u-3-4 banner-inner">
        <div class="banner-nav">
          <span><a class="dropdown-icon">{{user.username}}</a></span>
          <ul class="dropdown-menu">
            <li class="dropdown-top-divider"></li>
            <li class="dropdown-entry"><a href="/user">Profile</a></li>
            <li class="dropdown-entry"><a href="/portfolio">Portfolio</a></li>
            <li class="dropdown-entry"><a href="/features">About</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-entry"><a href="/logout">Logout</a></li>
          </ul>
          <div class="pure-hidden-desktop pure-hidden-tablet"><span><a href="/" class="fui-list"></a></span></div>
        </div>
        <div class="pure-form">
          <input id="quicksearch" type="text" name="search" placeholder="Search for Players">
        </div>
        <div class="banner-brand"><a href="/markethome"><img src="/img/GoProphetLogo8.jpg"></a></div>
        <button style="margin-left: 800px;" class="btn1">Filter</button>
        <div id="filterdiv">
          <p id="filter">
            <label for="amount">Price range:</label>
            <input id="amount" type="text" style="border: 0; color: #299; font-weight: bold;">
          </p>
          <div id="slider-range" data-filter="wager"></div>
          <p id="filter2">
            <label for="amount">Fantasy Value:</label>
            <input id="amount2" type="text" style="border: 0; color: #299; font-weight: bold;">
          </p>
          <div id="slider-range2" data-filter="fantasyValue"></div>
          <div id="filters">
            <h3>Sport</h3>
            <div data-filter-group="sport" class="button-group js-radio-button-group">
              <button data-filter="" class="button is-checked">show all</button>
              <button data-filter=".Football" class="button">nfl</button>
              <button data-filter=".Basketball" class="button">nba</button>
              <button data-filter=".Baseball" class="button">mlb</button>
            </div>
          </div>
          <div id="filters1">
            <h3>Over/Under</h3>
            <div data-filter-group="overunder" class="button-group js-radio-button-group">
              <button data-filter="" class="button is-checked">any</button>
              <button data-filter="over" class="button">Over</button>
              <button data-filter="under" class="button">Under</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="portfolio">
        <div class="portfolio-info">
          <div id="graph-container" class="portfolio-graph-container">
          </div>
          <div class="portfolio-profile">
          </div>
        </div>
        <div class="portfolio-tab-container">
          <ul class="portfolio-tab-menu">
            <li id='portfolio-tab-1' class='portfolio-tab'>
              Pending
            </li>
            <li id='portfolio-tab-2' class='portfolio-tab'>
              Taken
            </li>
            <!-- <li id='portfolio-tab-3' class='portfolio-tab'>
              Resell
            </li> -->
          </ul>
          <div class='portfolio-tab-border'>
          </div>
          <div id='portfolio-tab-1-content' class='portfolio-tab-content active'>
            <div class='isotope-pending'></div>
          </div>
          <div id='portfolio-tab-2-content' class='portfolio-tab-content'>
            <div class='isotope-taken'></div>
          </div>
          <!-- <div id='portfolio-tab-3-content' class='portfolio-tab-content'>
            Stuff
          </div> -->
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libModules/highcharts/highstock.js"></script>
    <script type="text/javascript" src="/js/libModules/highcharts/exporting.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/libModules/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/contestAPortfolio/createAthleteCard.js"></script>
    <script type="text/javascript" src="/js/contestAPortfolio/portfolio.js"></script>
  </body>
</html>