<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" type="text/css" href="/css/contestA/marketHome.css">
    <title>Contest A Home</title>
  </head>

  <body>
    <div class="pure-g-r banner">
      <div class="pure-u-3-4 banner-inner">
        <div class="banner-nav">
          <span><a class="dropdown-icon">{{user.username}}</a></span>
          <ul class="dropdown-menu">
            <li class="dropdown-top-divider"></li>
            <!--<li class="dropdown-entry"><a href="/user">Profile</a></li>-->
            <li class="dropdown-entry"><a href="/portfolio">Portfolio</a></li>
            <li class="dropdown-entry"><a href="/#features">About</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-entry"><a href="/logout">Logout</a></li>
          </ul>
          <div class="pure-hidden-desktop pure-hidden-tablet"><span><a href="/" class="fui-list"></a></span></div>
        </div>
        <div class="pure-form">
          <input id="quicksearch" type="text" name="search" placeholder="Filter for Players">
        </div>
        <div class="banner-brand"><a href="/markethome"><img src="/img/GoProphetLogo8.jpg"></a></div>
        <button style="margin-left: 75%;" class="btn1">Filter</button>
        <div id="filterdiv">
          <p id="filter">
            <label for="amount">Price range:</label>
            <input id="amount" type="text" style="border: 0; color: #299; font-weight: bold;">
          </p>
          <div id="slider-range" data-filter="wager"></div>
          <p id="filter2">
            <label for="amount">Fantasy Value:</label>
            <input id="amount2" type="text" style="border: 0; color: #299; font-weight: bold;">
          </p>
          <div id="slider-range2" data-filter="fantasyValue"></div>
          <div id="filters">
            <h3>Sport</h3>
            <div data-filter-group="sport" class="button-group js-radio-button-group">
              <button data-filter="" class="button is-checked">show all</button>
              <button data-filter=".Football" class="button">nfl</button>
              <button data-filter=".Basketball" class="button">nba</button>
              <button data-filter=".Baseball" class="button">mlb</button>
            </div>
          </div>
          <div id="filters1">
            <h3>Over/Under</h3>
            <div data-filter-group="overunder" class="button-group js-radio-button-group">
              <button data-filter="" class="button is-checked">any</button>
              <button data-filter="over" class="button">Over</button>
              <button data-filter="under" class="button">Under</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="daily-boxscore-ticker-wrapper" class="ticker-wrapper">
      <div id="daily-boxscore-ticker" class="ticker">

      </div>
    </div>
    <div id="top-player-ticker-wrapper" class="ticker-wrapper">
      <div id="top-player-ticker" class="ticker">

      </div>
    </div>

    <div class="makeBets">
      <div class="makeBetForm">
        <form id="betForm" action="/submitForm/undefined" class="pure-form">
          <div id="searchform" method="get" class="pure-form">
            <input id="autocomplete" type="text" name="search" required style="width:160px; height: 30px font-size: 2px" placeholder="Search Players">
          </div>Wager:
          <input type="number" id="wagerAmount" name="wagerAmount" placeholder="Dollars" required style="width:100px" min="1" max="100" step="0.01" value="1" type="number"><br>Points:
          <input type="number" id="fantasyValue" name="fantasyValue" placeholder="Value" required style="width: 100px" min="1" max="50" step="0.01" value="1" type="number"><br><br>
          <input id="radioFormA" type="radio" name="longOrShort" value="Over" checked="checked">Over
          <input id="radioFormB" type="radio" name="longOrShort" value="Under">Under<br><br>
          <center>
            <input id="betFormButton" type="submit" style="background-color: #083f75; color: white; float: left" value="Create" class="pure-button button-primary">
          </center>
        </form>
      </div>
      <div id="create" class="playercard1 playercard1-background">
        <div class="playercard1-playerpic"><img width="250" height="250" src="http://2.bp.blogspot.com/-6QyJDHjB5XE/Uscgo2DVBdI/AAAAAAAACS0/DFSFGLBK_fY/s1600/facebook-default-no-profile-pic.jpg">
          <div class="playercard1-info">
            <div class="playercard1-info name">
              <center>
                <p>Pick Athlete</p>
              </center>
            </div>
            <div class="playercard1-info pos">
              <center>
                <p>Position | Team Name</p>
              </center>
            </div>
          </div>
          <div class="playercard1-bottom">
            <div class="playercard1-bottom wager">
              <p>$ [Wager] O/U [FP]</p>
            </div>
            <div class="playercard1-bottom submit">
              <center>
                <div class="pure-button button-primary">Take</div>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="isotope">
      <div id="marketHome-backdrop" class="backdrop">
      </div>
    </div>

    <!-- mystery: WHY NEED BOTH JQUERIES??????? add-ons modify jquery variables? -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/banner.js"></script>
    <script src="/js/jquery/jquery-ui-1.10.4.custom.js"></script>
    <script src="http://isotope.metafizzy.co/beta/isotope.pkgd.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script src="/js/contestA/slider.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://isotope.metafizzy.co/beta/isotope.pkgd.js"></script>
    <script src="/js/jquery/jquery-ui.js"></script>
    <script src="/js/libModules/async.js"></script>
    <script src="/js/contestA/loadAthletesCache.js"></script>
    <script src="/js/contestA/loadGamesCache.js"></script>
    <script src="/js/contestA/initializeCaches.js"></script>
    <script src="/js/contestA/createAthleteCard.js"></script>
    <script src="/js/contestA/getBets.js"></script>
    <script src="/js/contestA/events.js"></script>
  </body>
</html>