<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Contest A Portfolio</title>

    <!-- Custom styles for this template -->
    <link href="/css/contestA/portfolio.css" rel="stylesheet">
  </head>

  <body>
    <div class="banner">
      <div class="placeholder">
        <p> Placeholder </p>
      </div>
    </div>

    <div class="content">
      <div class="portfolio">
        <div class="portfolio-info">
          <div class="portfolio-graph-container">
          </div>
          <div class="portfolio-profile">
          </div>
        </div>
        <div class="portfolio-tab-container">
          <ul class="portfolio-tab-menu">
            <li id='portfolio-tab-1' class='portfolio-tab'>
              Tab 1
            </li>
            <li id='portfolio-tab-2' class='portfolio-tab'>
              Tab 2
            </li>
            <li id='portfolio-tab-3' class='portfolio-tab'>
              Tab 3
            </li>
          </ul>
          <div class='portfolio-tab-border'>
          </div>
          <div id='portfolio-tab-1-content' class='portfolio-tab-content active'>
            <p>Stuff</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>Stuff</p>
          </div>
          <div id='portfolio-tab-2-content' class='portfolio-tab-content'>
            Stuff
          </div>
          <div id='portfolio-tab-3-content' class='portfolio-tab-content'>
            Stuff
          </div>
        </div>
      </div>
    </div>

    <!--div id="accordion"> 
      <h3><a href="#">Lebron James (CLE)</a></h3>
      <div class="content">
        <div class="table-container">
          <div class="table-container-header">
            <div class="table-container-header-title">
            </div>
            <div class="table-container-header-button-container">
            </div>
          </div>

          <div id="contestTable" class="table-container-main">
            <table align="center" style="width:1000px">
              <thead>
                <tr>
                  <th>Opponent</th>
                  <th>Fantasy Value</th>
                  <th>Wager Amount</th>
                  <th>Over/Under</th>
                  <th>Bought Price</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <h3><a href="#">Kobe Bryant (LAL)</a></h3>            
      <div>
      <p>Bet 1</p>
      </div>

      <h3><a href="#">Chris Paul (LAC)</a></h3>
      <div>
      <p>Bet 1</p>
      </div>
    </div-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="/js/contestA/portfolio.js"></script>
  </body>
</html>